#head{
    position: relative;
    background-color:blue;
}

h1 {
    position: absolute;
    left: 550px;
    font-family: cursive;
    font-size: 42px;
}

#imghead {
    position: absolute;
    width: 302px;
}

main {
    position: relative;
}

#result{
    position: absolute;
    top: 488px;
    font-size: 21px;
    left: 65px
}

#image {
    position: relative;
    left: 180px;
    top: 161px;
}

#left-img{
    position: absolute;
    width: 200px;
    top: 114px;
    left: 781px;
}

#center-img{
    position: absolute;
    width: 200px;
    top: 96px;
    left: 531px;
}

#right-img{
    position: absolute;
    width: 200px;
    top: 77px;
    left: 198px;
}

#tit{
    position: absolute;
    top: 154px;
    left: 612px;
    background-color: turquoise;
    font-size: 29px
}



body{
    background-color: #d3d3ef;
}

#chart{
    position: absolute;
    width: 796px;
    height: 400px;
    top: 563px;
    left: 420px
}

#test{
    position: absolute;
    top: 442px;
    left: 55px;
} 

#attimpt{
    position: absolute;
    top: 345px;
    left: 55px;
}


footer{
    position: relative;
    top: 1379px;
    background-color: cornsilk;
    text-align: center;
}

#teast {
    position: absolute;
    top: 368px;
    left: 55px;
}

#labeal{
    position: absolute;
    top: 319px;
    left: 59px;
}