#head{
    position: relative;
    background-color:blue;
}

h1 {
    position: absolute;
    left: 550px;
    font-family: cursive;
    font-size: 42px;
}

#imghead {
    position: absolute;
    width: 302px;
}

main {
    position: relative;
}

#result{
    position: absolute;
    top: 247px;
    font-size: 35px;
    left: 65px;
    background-color: powderblue;
}

#image {
    position: relative;
    left: 180px;
    top: 161px;
}

#left-img{
    position: absolute;
    width: 200px;
    top: 114px;
    left: 781px;
}

#center-img{
    position: absolute;
    width: 200px;
    top: 96px;
    left: 531px;
}

#right-img{
    position: absolute;
    width: 200px;
    top: 77px;
    left: 198px;
}

#tit{
    position: absolute;
    top: 154px;
    left: 612px;
    background-color: turquoise;
    font-size: 29px
}



body{
    background-color: #d3d3ef;
}